<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

        <form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post" role="form">
              <h2>Registration form</h2>
                    <p>
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="floatLabel"></label>
                        <input type="text" th:field="*{name}" placeholder="Name"/>
                    </p>

                    <p>
                        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="floatLabel"></label>
                        <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control" />
                    </p>

                    <p>
                        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="floatLabel"></label>
                        <input type="text" th:field="*{email}" placeholder="Email" class="form-control" />
                    </p>

                    <p>
                        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="floatLabel"></label>
                        <input type="password" th:field="*{password}" placeholder="Password" class="form-control" />
                    </p>

                    <p>
                        <input type="submit" value="Create My Account" id="submit">
                    </p>

                     <div align="center">
                         <a class="floatLabel" th:utext="${successMessage}"></a>
                     </div>

                    <p></p>

                    <div align="center">
                        <a class="txt2" href="/">SING IN<i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
        </form>

</body>
</html>